nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 50px;
  box-shadow: 3px 0 20px rgba(0, 0, 0, 0.1);

  &.dark {
    color: white;
    background-color: var(--dm-elements);

    button {
      color: inherit;
    }
  }

  button {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;

    svg {
      margin-right: 10px;
    }
  }
}
