.country-container {
  height: calc(100vh - 82px);
  padding: 60px 50px 0;

  .country-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    min-height: max-content;

    .flag-wrapper {
      width: 100%;
      margin: 0 auto;
      img {
        width: 100%;
        display: block;
      }
    }

    .country-description {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &.dark {
        color: var(--dm-text-lm-elements);
      }

      h2 {
        font-size: 30px;
      }

      .details-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: 18px;
        margin: 30px 0 50px;

        .detail-pair:not(:last-child) {
          margin-bottom: 8px;
        }
      }

      .neighbours-box {
        font-size: 18px;

        .detail-pair {
          .detail-bold {
            width: max-content;
            margin-right: 10px;
          }

          p:last-child {
            flex-grow: 1;
            display: flex;
            flex-wrap: wrap;
            row-gap: 10px;
            width: min-content;
            a {
              margin-left: 10px;
              min-width: max-content;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1330px) {
  .details-grid {
    grid-template-columns: 1fr !important;

    row-gap: 30px;
  }
}

@media screen and (max-width: 1300px) {
  .country-container {
    height: max-content;
    padding-bottom: 60px;
  }

  .country-grid {
    grid-template-columns: 1fr !important;
    row-gap: 50px;
  }

  .neighbours-box {
    .detail-pair {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 20px;

      p:last-child {
        width: 100% !important;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));
        column-gap: 15px;

        a {
          margin-left: 0 !important;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .country-container {
    padding: 60px 25px;
  }
}
